<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sales_order_view_nrshipping_rma_grid_data_source" xsi:type="string">Netresearch\ShippingUi\Model\ResourceModel\ReturnShipment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingUi\ViewModel\Rma\CustomerListing">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingUi\ViewModel\Rma\CustomerUrlProvider">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingUi\ViewModel\Rma\Info\Button\Returns">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
