<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_block_html_before">
        <observer name="nrshipping_change_packaging_template" instance="Netresearch\ShippingUi\Observer\ChangePackagingTemplateObserver"/>
    </event>
</config>
